.kanban-board {
    display: flex;
    justify-content: space-between;
    background-color: #f6f6f6;  
    border-radius: 10px;
}

.kanban-column {
    border-radius: 5px;
    padding: 1rem;
    width: 30%;
}

.kanban-column h2 {
    text-align: center;
}

.kanban-column-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kanban-column-heading-1 {
    display: flex;
    align-items: center;
}

.kanban-column-heading-2 {
    display: flex;
    align-items: center;
}

.group-icon {
    margin-right: 8px;
    width: 20px;
    height: 20px;
}

.action-icon {
    margin-left: 8px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}